/* OrderCheckout.css */

/* 基础样式 */
.order-checkout-container {
    font-family: sans-serif;
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
}

.order-checkout-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: center;
    /* 修改为左对齐 */
}

/* 表单行 */
.form-row {
    display: flex;
    padding: 15px 0;
    border-bottom: 1px solid #ddd;
    align-items: center;
}

/* 标签 */
.label {
    width: 200px;
    font-weight: bold;
    font-size: 14px;
}

/* 输入容器，改为靠左排列 */
.input-container {
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    align-items: center;
    justify-content: flex-start;
}

/* 必填标记 */
.required {
    background-color: #d9534f;
    color: white;
    padding: 2px 10px;
    font-size: 12px;
    border-radius: 3px;
    margin-left: 10px;
}

/* 小标签 */
.small-label {
    font-size: 12px;
    margin-right: 5px;
}

/* 输入框 */
.input {
    padding: 8px 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
}

/* 宽输入框自适应设置 */
.input-wide {
    width: 100%;
    max-width: 450px;
}

/* 注意提示 */
.note {
    color: #d9534f;
    font-size: 12px;
    margin-top: 5px;
    width: 100%;
}

/* 按钮区域 */
.button-container {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    gap: 20px;
}

/* 返回按钮 */
.back-button {
    padding: 12px 0;
    flex: 1;
    border-radius: 4px;
    border: none;
    background-color: #e9e9e9;
    font-size: 16px;
    cursor: pointer;
}

/* 确认按钮 */
.confirm-button {
    padding: 12px 0;
    flex: 1;
    border-radius: 4px;
    border: none;
    background-color: #d9534f;
    color: white;
    font-size: 16px;
    cursor: pointer;
}




.loading-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    /* 使用整个视窗的高度 */
}

.spinner {
    width: 60px;
    height: 60px;
    border: 8px solid #f3f3f3;
    /* 浅色边框 */
    border-top: 8px solid #3498db;
    /* 突出显示的颜色 */
    border-radius: 50%;
    animation: spin 2s linear infinite;
    margin-bottom: 20px;
    /* 文字上方的间隔 */
}

.loading-text {
    font-size: 24px;
    /* 较大的字体 */
    font-weight: bold;
}

/* 定义旋转动画 */
@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

/* 响应式调整 */
@media (max-width: 768px) {
    .form-row {
        flex-direction: column;
        align-items: flex-start;
    }

    .label {
        width: 100%;
        margin-bottom: 5px;
    }

    .input-container {
        width: 100%;
        flex-direction: column;
        gap: 8px;
        justify-content: flex-start;
    }

    .input-wide {
        width: 100%;
    }

    .button-container {
        flex-direction: column;
    }

    .back-button,
    .confirm-button {
        width: 100%;
    }

    .input-wide {
        max-width: 300px;
    }
}